{% extends 'pbh/base.html' %}

{% block content %}

<div id="header1">
			FEE STRUCTURE
	</div>
	<div id="mainform">
		<b><center>PES BOYS HOSTEL,PES UNIVERSITY CAMPUS, BENGALURU-560085</center></b>
		<br><center>HOSTEL TARIFF FOR STUDENTS SEEKING FRESH ADMISSION TO HOSTEL</center>
		<center><br>
		<table id="fee" border="1" bordercolor="#FFC517">
		
			<tr>
				<td>SL.No.</td>
				<td>Hostel Block</td>
				<td>Rent & Maintenance</td>
				<td>Mess Charges</td>
				<td>Caution Deposit</td>
				<td>Total Amount</td>
			</tr>
			<tr>
				<td>1</td>
				<td>IH Block</td>
				<td>64000</td>
				<td>39000</td>
				<td>30000</td>
				<td>133000</td>
			</tr>
			<tr>
				<td>2</td>
				<td>IT Block</td>
				<td>56000</td>
				<td>39000</td>
				<td>30000</td>
				<td>125000</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Mess Block</td>
				<td>56000</td>
				<td>39000</td>
				<td>30000</td>
				<td>125000</td>
			</tr>
			<tr>
				<td>4</td>
				<td>MM Block</td>
				<td>56000</td>
				<td>39000</td>
				<td>30000</td>
				<td>125000</td>
			</tr>
			<tr>
				<td>5</td>
				<td>New Block</td>
				<td>70000</td>
				<td>39000</td>
				<td>30000</td>
				<td>139000</td>
			</tr>
		
		</table>
		</center>
	</div>
{% endblock %}