{% extends 'pbh/base.html' %}

{% block content %}
	<div id ="top" >
				<center><img src="/static/pes1.jpg" alt="image" height=150px ></center>
	</div>
	
	<div style="background-color:#202123;height:300px;color:#ddd;font-size:30px;font-family: Agency FB" >
		<h2 align="center">Welcome to Official PES Boys Hostel Web page</h1>
		<blockquote style="font-size: 30px;">At PES Hostel,we believe in discipline,clean and homely
			enviroment which is a key source of being the best residential accommodation for students
			<br><br>
			Hence,PES Boys Hostel takes the pride in being one of the best residential accommodation in Bangalore,so come and stay with us and experience yourself
		 </blockquote>

	</div>
	<div id = "plx1">

	</div>
	<div style="height: 350px; background-color:white;color:#777;font-size:30px;text-align: justify;">
		<p style="font-size: 36px;font-family: Agency FB">PES Boys Hostel Provide:</p>
		<ul style="font-family: Agency FB">
			<li>Accommodation facility with an option of single or shared basis</li>
			<li>A privacy ad secured stay</li>
			<li>The best of facilities with respect to maintenance and services</li>
			<li>Food with hygienic standards</li>
			<li>24 hour facility of purified drinking water</li>
			<li>Facilities for reading and entertainment</li>
		</ul>
		
	</div>
	<div id="plx2">
		
	</div>
	<div class = "outerdiv" style="color:#ddd;text-align:center;text-align: justify;height:160px;font-family: Agency FB">
		<a href="pbh/register" style="text-decoration: none; color: white">
    	<div class="innerdiv1" >
    			<h2 align="center" style="">REGISTER NOW</h2>
    	</div>
        </a>
        <a href="pbh/fees" style="text-decoration: none; color: white">
    	<div class = "innerdiv1">
    		<h2 align="center">FEE STRUCTURE</h2>
    	</div>
    	</a>
    	<a href="pbh/rules" style="text-decoration: none; color: white">
    	<div class="innerdiv2">
    		<h2 align="center">RULES AND REGULATIONS</h2>
    	</div>
    	</a>
  	</div>
 {% endblock %}