{% extends 'pbh/base.html' %}

{% block content %}
<div id="header1">
			RULES AND REGULATIONS
	</div>
	<div id="mainform">
		<ul>
			<li>Nothing should be written and No posters are allowed to be posted on walls, roof, wardrobe doors, entry doors, window shutters, etc.</li>
			<li>Playing in corridors / rooms / area of common facility in the Hostel is strictly prohibited.</li>
			<li>Hostelites going to terrace is prohibited.</li>
			<li>Students should be back in the hostel before 7.30 PM</li>
			<li>Visitors / Guests to meet the Hostelites between 3.30 PM and 6.30 PM</li>
			<li>Use of electrical heater or other electrical appliances in the room is strictly prohibited</li>
			<li>Smoking, Consuming alcohol etc or any other similar material considered toxic / drugs are strictly prohibited</li>
			<li>Celebrations of birthday is banned in the room or in the corridor or in the common facility areas in and around the hostel</li>
			<li>Ragging is strictly prohibited. It is a cognizable offence.</li>
			<li>Use of possessing of inflammable / explosive material in any form(including crackers) is strictly prohibited.</li>
			<li>Putting fire in the room / corridor / common area is strictly prohibited</li>and many more.......
		</ul>
		
		
	</div>
{% endblock %}
